* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rgb-block,
.hex-block {
  font-family: sans-serif;
  padding: 10px;
  height: 100px;
  color: #fff;
}

/* body {
  background-image: url("https://picsum.photos/200/300");
} */

/* 
  r - red (0 - 255)
  g - green (0 - 255)
  b - blue (0 - 255)
  a - alpha (0 - 1)
  */

.rgb-block {
  background-color: rgb(255, 0, 0);
}

/* 0 1 2 3 4 5 6 7 8 9 a b c d e f */
.hex-block {
  background-color: #00ff00;
}
