html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  padding: 50px 0;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-list-link {
  display: block;
  font-family: inherit;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000;
  color: #000;
}

.navigation-list-item:not(:last-child) {
  margin-right: 30px;
}

/* 
  :hover
  :focus
  :active
  :visited
*/

/* .navigation-list-link:hover,
.navigation-list-link:focus {
  color: white;
  background-color: black;
} */

/* .navigation-list-link:active {
  color: tomato;
} */

/* .navigation-list-link:visited {
  color: pink;
} */

/* 
  ::first-line
  ::first-letter
  ::selection
  */

.description {
  margin-bottom: 20px;
}

/* .description::first-letter {
  color: tomato;
  font-size: 20px;
} */
.first-letter {
  color: tomato;
  font-size: 20px;
}

*::selection {
  color: teal;
  background-color: tomato;
}
