* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 0 auto;
  outline: 1px solid #000;
  padding: 10px;
}

.title {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.title::after {
  display: block;
  width: 200px;
  height: 4px;
  background-color: teal;
  content: '';
  margin: 0 auto;
  margin-top: 10px;
}
