:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==================== COMPONENTS ==================== */
.modal-btn {
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-btn-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.modal-btn-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.media-list {
  display: flex;
  align-items: center;
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-theme-light);
}

.media-list-item:not(:last-child) {
  margin-right: 40px;
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.section-description-theme-light {
  color: var(--primary-text-color-theme-light);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  margin-bottom: 44px;
  /* color: var(--secondary-text-color-theme-dark); */
}

.title-theme-light {
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-light);
}
/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */
.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.hero-right-side {
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
  flex-grow: 1;
}

.hero-section-description {
  max-width: 400px;
}

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
/* ==================== /HERO ==================== */

/* ==================== ABOUT ==================== */
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left-side,
.about-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.about-right-side {
  padding-left: 34px;
}

.about-gallery {
  display: flex;
  justify-content: space-between;
}

.about-section-description {
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 40px;
}
/* ==================== /ABOUT ==================== */

/* ==================== SERVICES ==================== */
.services-table-wrapper {
  display: flex;
}

.services-table {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
  border: 1px solid #cccccc;
}

.services-table-row {
  display: flex;
  justify-content: space-between;
}

.services-table-row:not(:last-child) {
  margin-bottom: 20px;
}

.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.services-modal-btn {
  display: block;
  margin: 0 auto;
}
/* ==================== /SERVICES ==================== */

/* ==================== ADVANTAGES ==================== */
.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  margin: 0 auto;
}

.advantages-list-item {
  width: 170px;
  min-height: 134px;
  padding: 21px;
  background-color: #f7f7f7;
}

.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

.advantages-section-description {
  max-width: 460px;
}
/* ==================== /ADVANTAGES ==================== */

/* ==================== EMPLOYEES ==================== */
.employees-section {
  background-color: #f7f7f7;
}

.employees-title {
  margin-bottom: 44px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
}

.employees-card {
  flex-basis: calc((100% - 60px) / 3);
}

/* .employees-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.employees-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.employees-card-content-wrapper {
  padding-top: 30px;
}

.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 8px;
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ==================== /EMPLOYEES ==================== */

/* ==================== GALLERY ==================== */
.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
/* ==================== /GALLERY ==================== */

/* ==================== CONTACT INFO ==================== */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
/* ==================== /CONTACT INFO ==================== */

/* ==================== FOOTER ==================== */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
/* ==================== /FOOTER ==================== */
