h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin-bottom: 20px;
  /* border: 1px solid tomato; */
  background-color: tomato;
}

/* 
-n + 2

-0 + 2 = 2;
-1 + 2 = 1;
-2 + 2 = 0;
*/

.menu-item:nth-child(2) .menu-link {
  background-color: teal;
}

/* .text {
  width: 200px;
  height: 200px;
  border: 10px solid tomato;
  padding: 10px;
  box-sizing: border-box;
} */
