h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.contact-form {
  width: 500px;
  min-height: 200px;
  padding: 40px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid #303030;
}

.contact-form-fieldset {
  margin-bottom: 20px;
}

.contact-form-message {
  width: 100%;
  height: 100px;
  padding: 15px;
  resize: none;
  margin-bottom: 20px;
}

.contact-form-btn-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.contact-form-btn {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #303030;
  background-color: transparent;
  color: #303030;
  transition: color 250ms linear, background-color 250ms linear;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #303030;
  color: #ffffff;
}
