:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

/* ==================== COMPONENTS ==================== */
.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.section-description-theme-light {
  color: var(--primary-text-color-theme-light);
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.title-theme-light {
  color: var(--secondary-text-color-theme-light);
}
/* ==================== /COMPONENTS ==================== */

/* ==================== HEADER ==================== */
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-phone-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
/* ==================== /HEADER ==================== */

/* ==================== HERO ==================== */
.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
/* ==================== /HERO ==================== */

/* ==================== ABOUT ==================== */
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
/* ==================== /ABOUT ==================== */

/* ==================== SERVICES ==================== */
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
/* ==================== /SERVICES ==================== */

/* ==================== ADVANTAGES ==================== */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}
/* ==================== /ADVANTAGES ==================== */

/* ==================== EMPLOYEES ==================== */
.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ==================== /EMPLOYEES ==================== */

/* ==================== GALLERY ==================== */
/* ==================== /GALLERY ==================== */

/* ==================== CONTACT INFO ==================== */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}
/* ==================== /CONTACT INFO ==================== */

/* ==================== FOOTER ==================== */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
/* ==================== /FOOTER ==================== */
