ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 950px;
  margin: 0 auto;
}

body {
  height: 100vh;
}

.footer {
  background-color: slategray;
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.social-list__item-link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
