ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 950px;
  margin: 0 auto;
}

body {
  height: 100vh;
}

.footer {
  background-color: slategray;
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.social-list__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;

  /* background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center; */
}

/* .social-list__item-link_facebook {
  background-image: url('../images/facebook.svg');
}

.social-list__item-link_twitter {
  background-image: url('../images/twitter.svg');
}

.social-list__item-link_telegram {
  background-image: url('../images/telegram.svg');
} */
.social-list__icon {
  fill: tomato;
}

.social-list__item-link:hover .social-list__icon,
.social-list__item-link:focus .social-list__icon {
  fill: teal;
}
