.employees-section {
  background-color: #f7f7f7;
}

.employees-title {
  margin-bottom: 44px;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-between; */
}

.employees-card {
  flex-basis: calc((100% - 60px) / 3);
}

/* .employees-card:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .employees-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  } */

.employees-card-content-wrapper {
  padding-top: 30px;
}

.employees-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 8px;
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: #303030;
  }
}

.social-list-icon {
  fill: #303030;
  transition: fill var(--transition-dur-and-func);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--accent-color);
  }
}
