.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
