.media-list {
  display: flex;
  align-items: center;

  &::before {
    flex-shrink: 0;
    width: 60px;
    height: 1px;
    content: '';
    margin-right: 40px;
    background-color: var(--secondary-text-color-theme-light);
  }
}

.media-list-item:not(:last-child) {
  margin-right: 40px;
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
