h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 5px;
}

body {
  height: 100vh;
}

/* 
1x - 96dpi
2x - 192dpi
3x - 288dpi
*/

.banner {
  min-height: 600px;
  background-image: url('../images/car-mobile.jpg');
  background-position: center top;
  background-size: 960px 576px;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .banner {
    background-image: url('../images/car-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: url('../images/car-tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .banner {
    background-image: url('../images/car-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    background-image: url('../images/car-desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .banner {
    background-image: url('../images/car-desktop@2x.jpg');
  }
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.section {
  padding: 50px 0;
}
