:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
  --transition-dur-and-func: 250ms linear;
}
